@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    background-color:black;
    padding: 40px 0;
}

.page {
    &.home{
        .page-title{
            .svg{
                width: 60px;
                height: 70px;
                margin-right: 15px;
            }
            span{

            }
        }
        .example-form{
            .example-full-width{
                width: 85%;
                margin-right: 4px;
            }
        }
    }
}